[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
